{% extends "IProductive/layout.html" %}

{% load static %}

{% block script %}
    <script src="{% static 'IProductive/script.js' %}"></script>
{% endblock %}

{% block body %}
<div class="card mx-3 my-3 bg-light text-dark " style="width: auto;">
    <div class="card-body">
      <h5 class="card-title font-weight-bold text-primary">{{user.username}}</h5>
      <p class="card-text font-weight-bold">Total Points: <span class = "font-weight-normal">{{profile.productivityPoints}}</span></p>
      <p class="card-text font-weight-bold">Date Joined: <em class="font-weight-normal">{{profile.date}}</em></p>
      <p class="card-text font-weight-bold">Days Completed: <span class = "font-weight-normal">{{profile.daysCompleted}}</span></p>
      <p class="card-text font-weight-bold">Friends: <span class = "font-weight-normal">{{profile.friends.count}}</span> <br>
        <button type="button" class="btn btn-outline-primary mx-1 my-1" onclick = "showFriends()" id = "showFriendsButton">Show</button>
        <button type = "button" class="btn btn-outline-dark mx-1 my-1" onclick = "hideFriends()" id = "hideFriendsButton" style = "display: none;"> Hide </button>
      </p>
    </div>
    <div id = "friends" style = "display: none;">
        <div class="list-group">
            {% for friend in profile.friends.all %}
            <a href="{% url 'viewProfile' friend.username %}" class="list-group-item list-group-item-action">
              {{friend.username}}
            </a>
            {% endfor %}
          </div>
    </div>
</div>
    <div class="mx-3 my-3 text-dark border border-dark border-5 rounded" >
        <h1 class="mx-3 my-3 text-danger"> Previous Completed Days </h1>
        <ul class="list-group list-group-flush">
            {% for day in user.userDays.all %}
            {% if day != currentDay %}
            <li class="list-group-item">
                <div class="card text-center">
                    <div class="card-header">
                        <strong class = "text-dark">Day {{day.day}} </strong>
                      <span class="badge bg-primary" class = > Total Points: {{day.dailyPoints}}</span>
                      <button type="button" class="btn btn-primary btn-sm" id = "viewDay{{day.pk}}" onclick = "viewDay({{day.pk}})">View</button>
                      <button type="button" class="btn btn-primary btn-sm" id = "closeDay{{day.pk}}" onclick = "closeDay({{day.pk}})" style = "display: none;">Close</button>
                    </div>

                    <div id = "day{{day.pk}}details" style = "display : none;">

                        <div class="card" style="width: auto;">
                            <div class = "card-header mx-2 my-2 bg-dark text-white">
                            Tasks
                            </div>
                        <ul class="list-group list-group-flush">
                            {% for task in day.dayTasks.all%}
                            <li class="list-group-item">
                                <strong>Task Description:</strong> {{task.description}} 
                                <span class="badge badge-primary badge-pill" >{{task.taskPoints}} Points </span>
                                {% if task.completed %}
                                <span class="badge badge-success"> <strong>Status :</strong> Completed </span>
                                {% else %}
                                <span class="badge badge-danger"> <strong>Status :</strong> Incompleted </span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="card" style="width: auto;">
                        <div class = "card-header mx-2 my-2 bg-success text-white">
                            Hobbies
                            </div>
                        <ul class="list-group list-group-flush">
                            {% for hobby in day.dayHobbies.all%}
                            <li class="list-group-item ">
                                <strong>Hobby Description:</strong> {{hobby.description}} 
                                <span class="badge badge-primary badge-pill" >{{hobby.hobbyPoints}} Points </span>
                                {% if hobby.completed %}
                                <span class="badge badge-success"> <strong>Status :</strong> Completed </span>
                                {% else %}
                                <span class="badge badge-danger"> <strong>Status :</strong> Incompleted </span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
                  </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}